/*  your css code here. If applicable */
/*tr:nth-child(1) {
	background-color:rgb(237, 234, 21)
}
tr:nth-child(2) {
	background-color:rgb(237, 234, 21)
}
tr:nth-child(3) {
	background-color:rgb(237, 234, 21)*/
}
